@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
:root {
  --mainBlue: #40acf1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --mainWhite: #ffffff;
  --mainBlack: #292f36;
  --mainGrey: rgb(216, 214, 214);
  --mainYellow: #e3b505;
}

@font-face {
  font-family: "BYekan";
  src: url("../fonts/BYekan-webfont.eot") format("eot");
  src: url("../fonts/BYekan-webfont.ttf") format("truetype");
  src: url("../fonts/BYekan-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: BYekan;
  color: var(--mainBlack);
  background-color: var(--mainWhite);
}
