.section-title-special {
  background: var(--transparentBlue);
  color: var(--mainWhite);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.skills-icon {
  font-size: 3rem;
  color: var(--mainYellow);
  background: var(--mainGrey);
}

.skills-icon:hover {
  color: var(--mainYellow);
}

.skills-underline {
  width: 4rem;
  background: var(--mainBlue);
  height: 0.3rem;
  margin: 1rem auto;
}
